name: Integration tests

on:
  pull_request: {}

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
    - uses: linkerd/dev/actions/setup-tools@v48
    - run: just build
    - run: just integration-test
